<h2>Добавление непринятого заказа</h2>
<form id="refusedOrder" method="POST" action="/courier">
  <div class="form-group"></div>
  <label for="name">ИМЯ:
    <br>
    <input id="name" class="form-control" name="name" type="text" required>
  </label>
  </div>
  <div class="form-group">
    <label for="place"> МЕСТО:
      <br>
      <input id="place" class="form-control" name="place" type="text" required>

    </label>
  </div>
  <div class="form-group">
    <label for="price"> ЦЕНА:
      <br>
      <input id="price" class="form-control" name="price" type="text" required>

    </label>
  </div>
  <div class="form-group">
    <label for="discount"> СКИДКА:
      <br>
      <input id="discount" class="form-control" name="discount" type="text" required>

    </label>
  </div>
  <div id="picture">
    <img src="" alt="">
  </div>
  <br>
  <button type="submit" class="btn">ДОБАВИТЬ</button>
</form>
