{{#if check}}


<div class="container d-flex flex-column">
  <div class="user_pad" style="color: #d25565;">USER</div>
  <form method="POST" action="/" class="d-flex flex-column formss">
    <label for="email" style="color: #d25565;" >
      Email:
      <input id="email" type="text" name="email" class="form-control formss" placeholder="Insert your email">
    </label>

    <label for="password" style="color: #d25565;">
      Password:
      <input id="password" type="password" name="password" class="form-control formss" placeholder="Insert your password">
    </label>
    <button class="btn btn-primary">Войти</button>
  </form>
</div>
{{else}}
<div class="container d-flex flex-column">
<div class="user_pad" style="color: #d25565;">DELIVER</div>
<form method="POST" action="/courierLog" class="d-flex flex-column formss">
  <label for="deliverEmail" style="color: #d25565;" >
    Email:
    <input id="deliverEmail" type="text" name="deliverEmail" class="form-control formss">
  </label>

  <label for="deliverPassword" style="color: #d25565;" >
    Password:
    <input id="deliverPassword" type="password" name="deliverPassword" class="form-control formss">
  </label>
  <button class="btn btn-primary">Войти</button>
</form>
</div>
{{/if}}
