{{#if check}}

USER
<form method="POST" action="/">
  <label for="email">
    Email:
<input id="email" type="text" name="email">
  </label>
 
  <label for="password">
 Password:
 <input id="password" type="password" name="password">
  </label>
  <button>Войти</button>
</form>
{{else}}
DELIVER
<form method="POST" action="/courierLog">
  <label for="deliverEmail">
    Email:
<input id="deliverEmail" type="text" name="deliverEmail">
  </label>
 
  <label for="deliverPassword">
 Password:
 <input id="deliverPassword" type="password" name="deliverPassword">
  </label>
  <button>Войти</button>
</form>
{{/if}}
