<h1>Регистрация нового покупателя</h1>

<form id="deliverSignup" method="POST" action="/register"> // изменить путь для экшена

  <div class="form-group">
    <label for="userName">Логин:
      <input id="userName" class="form-control" name="userName" type="text" required pattern="[A-Za-z]\w+" minlength="4"
        title="Латинские буквы, цифры и _">
    </label>
  </div>

  <div class="form-group">
    <label for="userEmail">Email:
      <input id="userEmail" class="form-control" name="userEmail" type="email" required>
    </label>
  </div>

  <div class="form-group">
    <label for="userPassword">Пароль:
      <input id="userPassword" class="form-control" name="userPassword" type="password" required minlength="8">
    </label>
  </div>

 <div class="form-group">
    <label for="userPhone">Номер телефона:
      <input id="userPhone" class="form-control" name="userPhone" type="tel" pattern="/\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}/gm" >
    </label>
  </div>


  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  
</form>
